﻿QDoubleSpinBox
{
    border: 1px solid gray;
}

QDoubleSpinBox:hover
{
    border: 1px solid rgb(42, 141, 212);
}

QDoubleSpinBox:focus
{
    border: 2px groove rgb(42, 141, 212);
    background-color: rgb(240, 255, 255);
}

QDoubleSpinBox::up-button
{
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #fdfbf7, stop: 1 #cfccc7);
    border-width: 1px;
    border-color: #8f8f91;
    border-style: solid;
    image: url(:/ImageIcons/AbstractSpinBox.Up.png);
}

QDoubleSpinBox::up-button:disabled
{
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #fdfbf7, stop: 1 #cfccc7);
    border-width: 1px;
    border-color: #8f8f91;
    border-style: solid;
    image: url(:/ImageIcons/AbstractSpinBox.Up.Disabled.png);
}

QDoubleSpinBox::up-button:hover
{
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #e4e0e1, stop: 1 #cfcbcd);
    border-color: rgb(42, 141, 212);
}

QDoubleSpinBox::up-button:pressed
{
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #cfcbcd, stop: 1 #e4e0e1);
    border-width: 2px;
    border-color: #8f8f91;
}

QDoubleSpinBox::down-button
{
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #fdfbf7, stop: 1 #cfccc7);
    border-width: 1px;
    border-color: #8f8f91;
    border-style: solid;
    image: url(:/ImageIcons/AbstractSpinBox.Down.png);
}

QDoubleSpinBox::down-button:disabled
{
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #fdfbf7, stop: 1 #cfccc7);
    border-width: 1px;
    border-color: #8f8f91;
    border-style: solid;
    image: url(:/ImageIcons/AbstractSpinBox.Down.Disabled.png);
}

QDoubleSpinBox::down-button:hover
{
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #e4e0e1, stop: 1 #cfcbcd);
    border-color: rgb(42, 141, 212);
}

QDoubleSpinBox::down-button:pressed
{
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #cfcbcd, stop: 1 #e4e0e1);
    border-width: 2px;
    border-color: #8f8f91;
}