﻿/*QTabBar::tab
{
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #E1E1E1, stop: 0.4 #DDDDDD, stop: 0.5 rgb(207, 207, 207), stop: 1.0 rgb(193, 193, 193));
    border: 1px solid #C4C4C3;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    min-width: 8ex;
    padding: 4px;
}

QTabBar::tab:selected, QTabBar::tab:hover
{
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #fafafa, stop: 0.4 #f4f4f4, stop: 0.5 #e7e7e7, stop: 1.0 #fafafa);
}

QTabBar::tab:selected
{
    border-color: #9B9B9B;
    border-bottom-color: #C2C7CB;
}

QTabBar::tab:!selected
{
    margin-top: 2px;
}*/